.table cards .ct {
  height: 145px;
  width: 100px;
  border-radius: 6px;
  position: relative;
}

.table cards.hovered::before {
  content: attr(data-html);
  position: absolute;
  display: block;
  padding: 10px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Consolas, monospace;
  width: max-content;
  color: yellow;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 999;
}

.table cards .ct.hovered::before {
  content: attr(data-html);
  position: absolute;
  display: block;
  padding: 10px;
  top: -55px;
  left: 0;
  font-family: Consolas, monospace;
  width: max-content;
  color: yellow;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 999;
}

.table cards .ct > .ct.hovered::before {
  transform: rotate(-10deg);
  top: -65px;
}

.table cards .ct > .ct > .ct.hovered::before {
  transform: rotate(-20deg);
  top: -75px;
}

.table cards ace.clubs {
  background: url('../../../assets/cards/ace_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards ace.diamonds {
  background: url('../../../assets/cards/ace_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards ace.hearts {
  background: url('../../../assets/cards/ace_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards ace.spades {
  background: url('../../../assets/cards/ace_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards jack.clubs {
  background: url('../../../assets/cards/jack_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards jack.diamonds {
  background: url('../../../assets/cards/jack_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards jack.hearts {
  background: url('../../../assets/cards/jack_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards jack.spades {
  background: url('../../../assets/cards/jack_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards queen.clubs {
  background: url('../../../assets/cards/queen_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards queen.diamonds {
  background: url('../../../assets/cards/queen_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards queen.hearts {
  background: url('../../../assets/cards/queen_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards queen.spades {
  background: url('../../../assets/cards/queen_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards five.clubs {
  background: url('../../../assets/cards/5_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards five.diamonds {
  background: url('../../../assets/cards/5_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards five.hearts {
  background: url('../../../assets/cards/5_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards five.spades {
  background: url('../../../assets/cards/5_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards four.clubs {
  background: url('../../../assets/cards/4_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards four.diamonds {
  background: url('../../../assets/cards/4_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards four.hearts {
  background: url('../../../assets/cards/4_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards four.spades {
  background: url('../../../assets/cards/4_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards eight.clubs {
  background: url('../../../assets/cards/8_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards eight.diamonds {
  background: url('../../../assets/cards/8_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards eight.hearts {
  background: url('../../../assets/cards/8_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards eight.spades {
  background: url('../../../assets/cards/8_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards king.clubs {
  background: url('../../../assets/cards/king_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards king.diamonds {
  background: url('../../../assets/cards/king_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards king.hearts {
  background: url('../../../assets/cards/king_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards king.spades {
  background: url('../../../assets/cards/king_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards nine.clubs {
  background: url('../../../assets/cards/9_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards nine.diamonds {
  background: url('../../../assets/cards/9_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards nine.hearts {
  background: url('../../../assets/cards/9_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards nine.spades {
  background: url('../../../assets/cards/9_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards ten.clubs {
  background: url('../../../assets/cards/10_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards ten.diamonds {
  background: url('../../../assets/cards/10_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards ten.hearts {
  background: url('../../../assets/cards/10_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards ten.spades {
  background: url('../../../assets/cards/10_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards three.clubs {
  background: url('../../../assets/cards/3_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards three.diamonds {
  background: url('../../../assets/cards/3_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards three.hearts {
  background: url('../../../assets/cards/3_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards three.spades {
  background: url('../../../assets/cards/3_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards two.clubs {
  background: url('../../../assets/cards/2_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards two.diamonds {
  background: url('../../../assets/cards/2_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards two.hearts {
  background: url('../../../assets/cards/2_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards two.spades {
  background: url('../../../assets/cards/2_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards six.clubs {
  background: url('../../../assets/cards/6_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards six.diamonds {
  background: url('../../../assets/cards/6_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards six.hearts {
  background: url('../../../assets/cards/6_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards six.spades {
  background: url('../../../assets/cards/6_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards seven.clubs {
  background: url('../../../assets/cards/7_of_clubs.svg') 50% 50% / cover no-repeat;
}

.table cards seven.diamonds {
  background: url('../../../assets/cards/7_of_diamonds.svg') 50% 50% / cover no-repeat;
}

.table cards seven.hearts {
  background: url('../../../assets/cards/7_of_hearts.svg') 50% 50% / cover no-repeat;
}

.table cards seven.spades {
  background: url('../../../assets/cards/7_of_spades.svg') 50% 50% / cover no-repeat;
}

.table cards .ct .border-red {
  border: 2px dashed deeppink;
}

.table.win .target {
  animation: win 1s 0s 1 forwards ease-in-out;
}

@keyframes win {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-999px);
  }
}

.table cards .target {
  animation: target 1s 0s infinite ease-in-out;
}

@keyframes target {
  0% {
    box-shadow: 0 0 4px 4px rgba(255, 211, 0, 0.9);
  }
  50% {
    box-shadow: 0 0 4px 4px rgba(255, 69, 2, 0.78);
  }
  100% {
    box-shadow: 0 0 4px 4px rgba(255, 210, 0, 0.9);
  }
}

.table cards .hovered {
  animation: none;
  box-shadow: 0 0 3px 3px rgba(0, 255, 208, 0.63), 0 0 5px 5px rgba(0, 72, 255, 0.63);
}

.table cards #corner::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #c77107;
  border-bottom-left-radius: 2px;
}

@media screen and (max-width: 1300px) {
  .table cards .ct {
    height: 120px;
    width: 84px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .table cards .ct {
    height: 120px;
    width: 84px;
    border-radius: 5px;
  }
}
