.game-info__state {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.game-info__state .checkmark-icon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/check-mark.svg') 50% 50% / cover no-repeat;
  filter: invert(25%);
  transition: filter 0.2s;
}

.game-info__state.completed .checkmark-icon {
  filter: brightness(0) saturate(100%) invert(76%) sepia(37%) saturate(5596%) hue-rotate(72deg) brightness(101%)
    contrast(80%);
}

.game-info__state .help-icon {
  width: 20px;
  height: 20px;
  background: none;
}

.game-info__state.help-used .help-icon {
  background: url('../../../assets/idea.svg') 50% 50% / cover no-repeat;
}
