:root {
  --carWidth: 100px;
}

.car {
  display: inline-block;
  position: relative;
  top: 5px;
}

.car.broken::after {
  position: absolute;
  display: inline-block;
  content: 'broken';
  font-size: 12px;
  background: #000000;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car > svg {
  display: block;
  width: var(--carWidth);
  transform: scale(-1, 1);
}

@keyframes start {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc(100% - var(--carWidth) - 50px);
  }
}
