.lesson-selector__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.1rem;
  border: 1px solid #818181;
  width: 100%;
  padding: 5px 5px 5px 20px;
  cursor: pointer;
  color: white;
}

.lesson-selector__item.completed {
  position: relative;
  border: 1px solid green;
}

.lesson-selector__item.completed::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: green;
}

.lesson-selector__item.helped::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  background-color: gold;
}

.lesson-selector__item.helped {
}

.lesson-selector__item:hover {
  color: greenyellow;
}

.lesson-selector__item.current {
  color: red;
}
