.css-editor {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  font-family: Consolas, monospace;
  color: #818181;
  background: #091314;
}

.css-editor__header {
  display: flex;
  justify-content: space-between;
  font-family: Consolas, monospace;
  color: #ababab;
  background-color: #152736;
  border: 1px solid #2d2e38;
  line-height: 25px;
  padding: 0 20px;
}

.css-editor__row {
  display: flex;
  flex: 1;
}

.css-editor .line-numbers {
  justify-content: center;
}
