.pl-20 {
  padding-left: 20px;
}

.ct {
  display: block;
}

/*.ct:not(.active) {*/
/*  background: #091314;*/
/*}*/

.active {
  background: #818181;
}

.tag-bracket {
  color: deeppink;
}

.tag-name {
  color: #dada48;
}

.tag-attr {
  color: tomato;
}

.tag-attr-value {
  color: blue;
}
