.pl-20 {
  padding-left: 20px;
}

.ct {
  display: block;
}

/*.ct:not(.active) {*/
/*  background: #091314;*/
/*}*/

.active {
  background: rgba(255, 255, 255, 0.15);
}

.tag-bracket {
  color: #14c9ff;
}

.tag-name {
  color: #dada48;
}

.tag-attr {
  color: tomato;
}

.tag-attr-value {
  color: #00ff66;
}
