.html .pl-20 {
  padding-left: 20px;
}

.html .ct {
  display: block;
}

.html .active {
  background: rgba(255, 255, 255, 0.15);
}

.html .tag-bracket {
  color: #14c9ff;
}

.html .tag-name {
  color: #dada48;
}

.html .tag-attr {
  color: tomato;
}

.html .tag-attr-value {
  color: #00ff66;
}

.html > .ct.pl-20 {
  padding: 0;
}
