.html-viewer {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  order: 3;
}

.html-viewer__header {
  display: flex;
  justify-content: space-between;
  font-family: Consolas, monospace;
  color: #ababab;
  background-color: #152736;
  border: 1px solid #2d2e38;
  line-height: 25px;
  padding: 0 20px;
}

.html-viewer__row {
  display: flex;

  flex: 1;
}
