.css-editor__selector {
  position: relative;
  flex: 1;
}

.css-editor__selector-input {
  position: absolute;
  outline: none;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 1.1rem;
  font-family: Consolas, monospace;
  color: transparent;
  caret-color: red;
  background: transparent;
  overflow: hidden;
  z-index: 2;
}

.css-editor__selector-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-family: Consolas, monospace;
  font-size: 1.1rem;
  overflow: hidden;
  z-index: 1;
}

#css-hljs {
  height: 30px;
  color: white;
  background: transparent;
}

#css-hljs .hljs-selector-pseudo {
  color: #11df01;
}

#css-hljs .hljs-selector-id {
  color: #00ffff;
}

#css-hljs .hljs-selector-class {
  color: #ffd400;
}
