.modal {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  font-family: Consolas, monospace;
  text-shadow: 0 0 10px #ff008a;
}

.modal-hidden {
  display: none;
}
