.css-editor__help-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #6b2121;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.css-editor__help-btn-icon {
  width: 80%;
  height: 80%;
  background: url('../../../../assets/idea.svg') 50% 50% / cover no-repeat;
}

.css-editor__help-btn:hover {
  background: brown;
}
