* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

ul,
li {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.app_theme-dark {
  background-color: #141414;
}

.app_theme-light {
  background-color: #c6c6c6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #35383c;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  font-family: 'Orbitron', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn.btn_reset {
  background: url('../assets/svg/reset.svg') 50% 50% / cover no-repeat;
  opacity: 0.7;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, background 0.2s ease-in-out;
}

.btn.btn_reset:hover {
  opacity: 1;
  transform: rotate(-360deg);
}

.app_theme-dark .btn.btn_reset {
  filter: invert(100%);
}

.btn.btn_save {
  background: url('../assets/svg/save.svg') 50% 50% / cover no-repeat;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.btn.btn_save:hover {
  background: url('../assets/svg/save.svg') 50% 50% / cover no-repeat;
  opacity: 1;
}

.result {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.app_theme-dark .result {
  color: #dadada;
  background: #181818;
  border: 4px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.app_theme-light .result {
  color: #000000;
  background: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.result .btn.btn_ok {
  width: 30px;
  height: 30px;
  background: url('../assets/svg/ok.svg') 50% 50% / cover no-repeat;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.result .btn.btn_reset {
  width: 30px;
  height: 30px;
}

.app_theme-dark .btn.btn_ok {
  filter: invert(100%);
}

.btn.btn_ok:hover {
  opacity: 1;
}

.result__buttons {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
}

.volume {
  display: flex;
  align-items: center;
  gap: 5px;
}

.volume__number-input {
  max-width: 60px;
}

.btn.btn_volume {
  background: url('../assets/svg/volume-on.svg') 50% 50% / cover no-repeat;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
}

.btn.btn_volume-muted {
  background: url('../assets/svg/volume-off.svg') 50% 50% / cover no-repeat;
}

.btn.btn_volume:hover {
  opacity: 1;
}

.app_theme-dark .btn.btn_volume {
  filter: invert(100%);
}

.result-list__item {
  padding: 5px;
}

.leaderboard {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  z-index: 1;
}

.leaderboard.leaderboard_opened {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.leaderboard-list {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 10px;
}

.app_theme-light .leaderboard-list {
  color: #000000;
  background: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-dark .leaderboard-list {
  color: #dadada;
  background: #181818;
  border: 4px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.leaderboard__fields {
  display: flex;
}

.leaderboard__fields span {
  flex: 1;
  text-align: center;
}

.leaderboard-list__item {
  display: flex;
  justify-content: space-between;
}

.leaderboard-list__item span {
  text-align: center;
  flex: 1;
}

.btn.btn_close {
  background: url('../assets/svg/close.svg') 50% 50% / cover no-repeat;
  width: 35px;
  height: 35px;
  filter: invert(100%);
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.btn.btn_close:hover {
  opacity: 1;
}

.grid__row {
  display: flex;
  max-width: fit-content;
}

.grid__cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.grid.grid_size-10 .grid__cell {
  width: 49px;
  height: 49px;
}

.grid.grid_size-15 .grid__cell {
  width: 35px;
  height: 35px;
}

.grid.grid_size-25 .grid__cell {
  width: 25px;
  height: 25px;
}

.app_theme-light .grid__cell {
  background-color: #c6c6c6;
}

.app_theme-light .grid.grid_size-10 .grid__cell.opened,
.app_theme-light .grid.grid_size-15 .grid__cell.opened,
.app_theme-light .grid.grid_size-25 .grid__cell.opened {
  border: 1px solid #808080;
}

.app_theme-light .grid.grid_size-10 .grid__cell {
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-light .grid.grid_size-15 .grid__cell {
  border: 3px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-light .grid.grid_size-25 .grid__cell {
  border: 2px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-dark .grid__cell {
  background-color: #141414;
}

.app_theme-dark .grid.grid_size-10 .grid__cell.opened,
.app_theme-dark .grid.grid_size-15 .grid__cell.opened,
.app_theme-dark .grid.grid_size-25 .grid__cell.opened {
  border: 1px solid #0e0e0e;
}

.app_theme-dark .grid.grid_size-10 .grid__cell {
  border: 4px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.app_theme-dark .grid.grid_size-15 .grid__cell {
  border: 3px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.app_theme-dark .grid.grid_size-25 .grid__cell {
  border: 2px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.app_theme-light .grid__cell[data-bombs='1'] {
  color: #0000ff;
}

.app_theme-light .grid__cell[data-bombs='2'] {
  color: #008000;
}
.app_theme-light .grid__cell[data-bombs='3'] {
  color: #ff0000;
}

.app_theme-light .grid__cell[data-bombs='4'] {
  color: #8a2be2;
}

.app_theme-light .grid__cell[data-bombs='5'] {
  color: #8b4513;
}

.app_theme-light .grid__cell[data-bombs='6'] {
  color: #5f9ea0;
}

.app_theme-light .grid__cell[data-bombs='7'] {
  color: #000000;
}

.app_theme-light .grid__cell[data-bombs='8'] {
  color: #bec91b;
}

.app_theme-dark .grid__cell[data-bombs='1'] {
  color: #919191;
}

.app_theme-dark .grid__cell[data-bombs='2'] {
  color: #3ca13c;
}
.app_theme-dark .grid__cell[data-bombs='3'] {
  color: #ad1f1f;
}

.app_theme-dark .grid__cell[data-bombs='4'] {
  color: #884ebd;
}

.app_theme-dark .grid__cell[data-bombs='5'] {
  color: #9b460a;
}

.app_theme-dark .grid__cell[data-bombs='6'] {
  color: #5ba8ab;
}

.app_theme-dark .grid__cell[data-bombs='7'] {
  color: #8d7d0f;
}

.app_theme-dark .grid__cell[data-bombs='8'] {
  color: #ad0068;
}

.grid__cell.flagged.flagged_wrong {
  outline: 2px solid red;
  outline-offset: -2px;
}

.grid__cell.flagged.flagged_wrong span::before {
  content: '';
  position: absolute;
  display: block;
  width: 80%;
  height: 80%;
  background: url('../assets/svg/cross.svg') 50% 50% / cover no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app_theme-dark .grid__cell.flagged.flagged_wrong span::before {
  filter: invert(60%);
}

.grid__cell.bomb .cell__span {
  width: 80%;
  height: 80%;
  background: url('../assets/svg/bomb.svg') 50% 50% / cover no-repeat;
}

.grid__cell.flagged .cell__span {
  width: 80%;
  height: 80%;
  background: url('../assets/svg/flag.svg') 50% 50% / cover no-repeat;
}

.grid__cell.bomb.triggered-bomb {
  background-color: #ff0000;
}

.app__info {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  justify-content: space-around;
  align-items: center;
  color: #dadada;
}

.app_theme-dark .app__info {
  background: #181818;
  border: 4px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
}

.app_theme-light .app__info {
  color: #000000;
  background: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.flag-counter,
.bomb-counter,
.timer,
.step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.flag-counter__icon,
.bomb-counter__icon,
.timer__icon,
.step-counter__icon {
  width: 20px;
  height: 20px;
}

.flag-counter .flag-counter__icon {
  background: url('../assets/svg/flag.svg') 50% 50% / cover no-repeat;
}

.bomb-counter .bomb-counter__icon {
  background: url('../assets/svg/bomb.svg') 50% 50% / cover no-repeat;
}

.timer .timer__icon {
  background: url('../assets/svg/timer.svg') 50% 50% / cover no-repeat;
}

.step-counter .step-counter__icon {
  background: url('../assets/svg/footprints.svg') 50% 50% / cover no-repeat;
}

input[type='checkbox'] {
  display: none;
}

.theme-changer__label {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.app_theme-dark .theme-changer__label {
  background-color: rgba(66, 66, 66, 0.3);
}

.app_theme-light .theme-changer__label {
  background-color: #a1a1a1;
}

.theme-changer__label::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 3px solid;
  border-color: #747474 #5e5e5e #3a3a3a #363636;
  border-radius: 50%;
  background: #dadada url('../assets/svg/light-mode.svg') 50% 50% / cover no-repeat;
  transition: border 0.2s, left 0.2s, box-shadow 0.2s;
}

.theme-changer__label:has(.theme-changer:checked)::before {
  border: 3px solid;
  border-color: #747474 #5e5e5e #3a3a3a #363636;
  left: 31px;
  background: #dadada url('../assets/svg/dark-mode.svg') 50% 50% / cover no-repeat;
}

.theme-changer__label:has(.theme-changer:checked):hover::before {
  box-shadow: 0 0 3px;
}

.theme-changer__label:hover::before {
  box-shadow: 0 0 4px black;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.app_theme-dark .settings {
  background: #181818;
  border: 4px solid;
  border-color: #0c0c0c #000000 #1e1e1e #242424;
  color: #dadada;
}

.app_theme-light .settings {
  background: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.settings__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.settings__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  gap: 1rem;
}

.range-input__label {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.range-input__label .bombs-count-input {
  margin: 0 5px 0 10px;
}

.btn.btn_toggle-leaderboard {
  align-self: flex-end;
  width: fit-content;
  padding: 10px;
  transition: color 0.2s;
}

.app_theme-dark .btn.btn_toggle-leaderboard {
  border: 4px solid;
  color: #b54b0d;
  background-color: #1a1a1a;
  border-color: #404040 #2a2a2a #242424 #202020;
}

.app_theme-dark .btn.btn_toggle-leaderboard:hover {
  color: #ff6d18;
}

.app_theme-light .btn.btn_toggle-leaderboard {
  background: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-light .btn.btn_toggle-leaderboard:hover {
  color: #0014ff;
}

input[type='range'] {
  background-color: transparent;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #484d4d;
  border: 0;
  height: 8px;
  cursor: pointer;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -6px;
  width: 8px;
  border-radius: 3px;
  height: 20px;
  background: #dadada;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #545a5a;
}
input[type='range']:hover::-webkit-slider-thumb {
  background-color: #ffffff;
}

.app_theme-light input[type='range']::-webkit-slider-thumb {
  border: 1px solid black;
}

.select__label {
  display: flex;
  align-items: center;
  min-height: 30px;
  gap: 10px;
}

select,
select option {
  outline: none;
  border: none;
  cursor: pointer;
}

.app_theme-dark select {
  color: #dadada;
  border: 3px solid;
  background-color: #1a1a1a;
  border-color: #404040 #2a2a2a #242424 #202020;
}

.app_theme-light select {
  color: #000000;
  background: #c6c6c6;
  border: 3px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

.app_theme-dark select:hover {
  color: #ffffff;
}

.app_theme-light select:hover {
  color: #0014ff;
}

.app_theme-light select option {
  color: #000000;
}

.app_theme-dark select option {
  color: #dadada;
}

.app_theme-dark input[type='number'] {
  outline: none;
  border: 3px solid;
  color: #dadada;
  background-color: #1a1a1a;
  padding-left: 5px;
  text-align: center;
  border-color: #404040 #2a2a2a #242424 #202020;
}

.app_theme-light input[type='number'] {
  outline: none;
  color: #000000;
  padding-left: 5px;
  text-align: center;
  background: #c6c6c6;
  border: 3px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
}

@media screen and (max-width: 550px) {
  .grid.grid_size-15 .grid__cell {
    width: 33px;
    height: 33px;
  }
}

@media screen and (max-width: 640px) {
  .grid.grid_size-25 .grid__cell {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
