* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Orbitron', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
}

.app_theme-dark {
  background-color: #141414;
}

.app_theme-light {
  background-color: #808080;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  position: relative;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: min-content;
}

ul,
li {
  list-style: none;
}

.result {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(1px);
  color: yellow;
  z-index: 1;
}

.grid__row {
  display: flex;
  max-width: fit-content;
}

.grid__cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
  cursor: pointer;
}

.grid__cell.opened {
  border: 1px solid #808080;
}

.grid__cell.flagged.flagged_wrong {
  border: 2px solid red;
}

.grid__cell.flagged.flagged_wrong span::before {
  content: '⨉';
  position: absolute;
  display: block;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid__cell.bomb {
  background-color: #ff0000;
}

.grid__cell[data-bombs='1'] {
  color: #0000ff;
}

.grid__cell[data-bombs='2'] {
  color: #008000;
}
.grid__cell[data-bombs='3'] {
  color: #ff0000;
}

.grid__cell[data-bombs='4'] {
  color: #8a2be2;
}

.grid__cell[data-bombs='5'] {
  color: #8b4513;
}

.grid__cell[data-bombs='6'] {
  color: #5f9ea0;
}

.grid__cell[data-bombs='7'] {
  color: #000000;
}

.grid__cell[data-bombs='8'] {
  color: #bec91b;
}

.controls {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  background-color: #808080;
}

.flag-counter,
.timer,
.step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reset-btn,
.settings-btn,
.save-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.settings {
  display: flex;
  flex-direction: column;
  color: yellow;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  border-radius: 3px;
}

.settings input,
.settings button {
  cursor: pointer;
}

.settings-btn_save {
  align-self: center;
}
