* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Orbitron', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  background-color: #141414;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  width: min-content;
}

.grid__row {
  display: flex;
  max-width: fit-content;
}

.grid__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #ffffff #808080 #868686 #ffffff;
  cursor: pointer;
  transition: background-color 0.1s, border 0.1s;
}

.grid__cell.opened {
  background-color: #c6c6c6;
  border: 1px solid #808080;
}

.grid__cell.bomb {
  background-color: #ff0000;
}

.grid__cell[data-bombs='1'] {
  color: #0000ff;
}

.grid__cell[data-bombs='2'] {
  color: #008000;
}
.grid__cell[data-bombs='3'] {
  color: #ff0000;
}

.grid__cell[data-bombs='4'] {
  color: #8a2be2;
}

.grid__cell[data-bombs='5'] {
  color: #8b4513;
}

.grid__cell[data-bombs='6'] {
  color: #5f9ea0;
}

.grid__cell[data-bombs='7'] {
  color: #000000;
}

.grid__cell[data-bombs='8'] {
  color: #bec91b;
}

.controls {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: red;
}

.flag-counter,
.timer,
.step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.reset-btn,
.settings-btn,
.save-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.settings {
  position: absolute;
  display: flex;
  top: 20%;
  left: 10%;
  min-height: 400px;
  min-width: 300px;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  z-index: 1;
}

.settings-btn_save {
  align-self: center;
}

.settings.settings_active {
  display: flex;
}
