:root {
  --carWidth: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  width: 100%;
  font-family: Consolas, monospace;
  background-color: #181818;
}

::-webkit-scrollbar {
  background: rgba(45, 45, 45, 0.25);
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
}

.app {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.garage,
.winners {
  position: absolute;
  top: 40px;
  padding: 10px;
  width: 100%;
}

.garage.hidden,
.winners.hidden {
  visibility: hidden;
}

.car {
  display: inline-block;
  position: relative;
  top: 5px;
}

.car.broken::after {
  position: absolute;
  display: inline-block;
  content: 'broken';
  font-size: 12px;
  background: #000000;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car > svg {
  display: block;
  width: var(--carWidth);
  transform: scale(-1, 1);
}

@keyframes start {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc(100% - var(--carWidth) - 50px);
  }
}

*:disabled {
  cursor: not-allowed;
}

input[type='color']:not(input[type='color']:disabled),
button:not(button:disabled) {
  cursor: pointer;
}

.error {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #ff0000;
}

.garage__pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.garage__car-track {
  border-bottom: 2px dashed #444444;
}

.garage__car-track {
  position: relative;
}

.garage__car-track::after {
  content: '🏁';
  font-size: 2rem;
  position: absolute;
  right: 100px;
  bottom: 0;
  display: block;
}

.view-changers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 1rem;
}

.view-changers button {
  outline: none;
  border: none;
  min-width: fit-content;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.35);
  transition: background-color 0.2s;
}

.view-changers button.active {
  outline: 2px solid peru;
}

.view-changers button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.garage,
.winners {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.garage__controls {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.garage-controls__row {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.garage__cars-count {
  color: #ffffff;
  font-size: 2rem;
}

.garage__current-page {
  color: #ffffff;
  font-size: 1.2rem;
}

.car__title {
  color: #ffffff;
}

.garage__car-tracks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.car-track__row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.car-track__row:nth-child(2) {
  display: inline-flex;
  vertical-align: top;
  width: 50px;
}

.winners__count {
  color: #ffffff;
  font-size: 2rem;
}

.winners__table {
  max-width: fit-content;
}

.winners-table__row,
.winners-table__head {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.winners-table__number {
  width: 80px;
}

.winners-table__car {
  width: 100px;
}

.winners-table__car-img {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winners-table__name {
  width: 150px;
}

.winners-table__wins {
  width: 70px;
}

.winners-table__time-sort {
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  width: 100px;
}

.winners-table__time-sort:hover,
.winners-table__wins-sort:hover {
  color: orangered;
  transition: color 0.2s;
}

.winners-table__time {
  width: 80px;
}

.winners-table__wins-sort {
  border: none;
  outline: none;
  width: 80px;
  background: transparent;
  color: #ffffff;
}

.winners-table__car-img > svg {
  display: block;
  width: 70px;
  transform: scale(-1, 1);
}

.winners-table__number,
.winners-table__car,
.winners-table__car-img,
.winners-table__name,
.winners-table__wins,
.winners-table__wins-sort {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.winners__pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2rem;
  font-family: Consolas, monospace;
  text-shadow: 0 0 10px #ff008a;
}

.modal-hidden {
  display: none;
}
