* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #181818;
}

@keyframes start {
  0% {
    width: 100px;
  }
  100% {
    width: 100%;
  }
}
