* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  width: 100%;
  font-family: Consolas, monospace;
  background-color: #181818;
}

*:disabled {
  cursor: not-allowed;
}

input[type='color']:not(input[type='color']:disabled),
button:not(button:disabled) {
  cursor: pointer;
}
