.css-editor__text-input {
  font-family: Consolas, monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  font-size: 1.1rem;
  z-index: 2;
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  caret-color: red;
  padding: 5px 0;
  height: 100%;
}

.css-editor__text-input_highlight {
  font-family: Consolas, monospace;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  padding: 5px 0;
  z-index: 1;
}

#css-hljs {
  background: #000;
  height: 100%;
}
