.css-editor__text-inputs {
  position: relative;
}

.css-editor__text-input {
  font-family: Consolas, monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.1rem;
  z-index: 2;
  background: transparent;
  outline: none;
  border: none;
  overflow: hidden;
  color: transparent;
  caret-color: red;
  height: 30px;
  padding: 5px;
}

.css-editor__text-input_highlight {
  font-family: Consolas, monospace;
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  padding: 5px;
  overflow: hidden;
}

#css-hljs {
  background: #000;
  height: 30px;
}
