@font-face {
  font-family: 'Georgia';
  src: url('../assets/fonts/georgia-regular.woff2') format('woff2'),
    url('../assets/fonts/georgia-regular.woff') format('woff'),
    url('../assets/fonts/georgia-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/arial-regular.woff2') format('woff2'),
    url('../assets/fonts/arial-regular.woff') format('woff'),
    url('../assets/fonts/arial-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/arial-italic.woff2') format('woff2'),
    url('../assets/fonts/arial-italic.woff') format('woff'),
    url('../assets/fonts/arial-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
