.tr {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.number {
  width: 80px;
}

.name {
  width: 150px;
}

.wins {
  width: 80px;
}

.time {
  width: 100px;
}

.car {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car > svg {
  display: block;
  width: 70px;
  transform: scale(-1, 1);
}

.number,
.car,
.name,
.wins {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
