.css-editor__submit-btn {
  outline: none;
  border: none;
  width: 50px;
  height: 30px;
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.css-editor__submit-btn:hover {
  opacity: 1;
}
