.table {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3vh calc(1rem + 13px) 3vh 1rem;
}

.game-over {
  height: 145px;
  font-size: 3rem;
  color: white;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  animation: game-over-message 1s 0s 1 forwards;
}

@keyframes game-over-message {
  0% {
    transform: translateX(-999px);
  }
  100% {
    transform: translateX(0);
  }
}

.table > .ct {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.table > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
}

.table > .ct > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
}

.table.wrong-answer .ct {
  animation: wrong-answer 0.1s 0s infinite linear;
}

@keyframes wrong-answer {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .table {
    padding: 40px 2rem;
  }
}
