.table {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #182932;
  padding: 40px 0;
}

.table > .ct {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.table > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
}

.table > .ct > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
}

.table.wrong-answer .ct {
  animation: wrong-answer 0.1s 0s infinite linear;
}

@keyframes wrong-answer {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
