.table {
  display: flex;
  gap: 2rem;
  flex-basis: 100%;
  order: 1;
  justify-content: center;
  align-items: center;
  background-color: #182932;
  transform: perspective(200px);
}

.table > .ct {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  z-index: 1;
}

.table > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
  z-index: 2;
}

.table > .ct > .ct > .ct {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(10deg);
  transform-origin: bottom;
  z-index: 3;
}
