.table .ct > .card-info {
  position: absolute;
  top: -55px;
  left: -40px;
  background: black;
  padding: 10px;
  width: max-content;
  display: none;
}

.table .ct > .ct .card-info {
  transform: rotate(-10deg);
  top: -65px;
}

.table .ct > .ct > .ct .card-info {
  transform: rotate(-20deg);
  top: -75px;
}

.table .ct.hovered > .card-info {
  display: block;
  z-index: 999;
}
