:root {
  --gap: 20px;
}

.level-info {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: auto;
  padding: 1rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  background: #120e0e;
  opacity: 1;
  overflow: hidden;
  transition: max-width 0.2s, padding 0.2s, opacity, 0.3s, height 1s;
}

.level-info.hidden {
  max-width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
}

.text-code {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  border-bottom: 1px solid #dadada;
  line-height: normal;
  background: #404040;
  color: white;
}

.text-bold {
  font-weight: 700;
  color: burlywood;
}

.level-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.level-info__level-number {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  color: dimgray;
}

.level-info__title {
  font-weight: 700;
}

.level-info__subtitle {
  margin-top: var(--gap);
  font-size: 1.2rem;
  font-weight: 500;
  color: grey;
}

.level-info__selector {
  margin-top: var(--gap);
  color: cornsilk;
}

.level-info__description {
  margin-top: calc(var(--gap) / 2);
  margin-left: 1rem;
  font-style: italic;
  color: lightslategray;
}

.level-info__example {
  margin-top: var(--gap);
}

.level-info__example {
  line-height: 35px;
}
